// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T1 Processor File: core1.config
// Copyright (c) 2006 Sun Microsystems, Inc.  All Rights Reserved.
// DO NOT ALTER OR REMOVE COPYRIGHT NOTICES.
// 
// The above named program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public
// License version 2 as published by the Free Software Foundation.
// 
// The above named program is distributed in the hope that it will be 
// useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// General Public License for more details.
// 
// You should have received a copy of the GNU General Public
// License along with this work; if not, write to the Free Software
// Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
// 
// ========== Copyright Header End ============================================
// 1 core without I/O testbench config file for sims

<core1>
    -model=core1
    -vera_vcon_file=cmp_top.vcon
    -flist=$DV_ROOT/design/sys/iop/rtl/Flist.iop_top
    -flist=$DV_ROOT/design/sys/iop/fpu/rtl/Flist.fpu
    -flist=$DV_ROOT/design/sys/iop/iobdg/rtl/Flist.iobdg
    -flist=$DV_ROOT/design/sys/iop/sparc/rtl/Flist.sparc_top
    -flist=$DV_ROOT/design/sys/iop/sparc/ifu/rtl/Flist.ifu
    -flist=$DV_ROOT/design/sys/iop/sparc/lsu/rtl/Flist.lsu
    -flist=$DV_ROOT/design/sys/iop/sparc/tlu/rtl/Flist.tlu
    -flist=$DV_ROOT/design/sys/iop/sparc/spu/rtl/Flist.spu
    -flist=$DV_ROOT/design/sys/iop/sparc/ffu/rtl/Flist.ffu
    -flist=$DV_ROOT/design/sys/iop/sparc/exu/rtl/Flist.exu
    -flist=$DV_ROOT/design/sys/iop/sparc/mul/rtl/Flist.mul
    -flist=$DV_ROOT/design/sys/iop/sparc/rtl/Flist.sparc_common
    -flist=$DV_ROOT/design/sys/iop/ccx/rtl/Flist.ccx
    -flist=$DV_ROOT/design/sys/iop/dram/rtl/Flist.dram
    -flist=$DV_ROOT/design/sys/iop/scbuf/rtl/Flist.scbuf
    -flist=$DV_ROOT/design/sys/iop/sctag/rtl/Flist.sctag
    -flist=$DV_ROOT/design/sys/iop/scdata/rtl/Flist.scdata
    -flist=$DV_ROOT/design/sys/iop/pads/pad_ddr0/rtl/Flist.pad_ddr0
    -flist=$DV_ROOT/design/sys/iop/pads/pad_ddr1/rtl/Flist.pad_ddr1
    -flist=$DV_ROOT/design/sys/iop/pads/pad_ddr2/rtl/Flist.pad_ddr2
    -flist=$DV_ROOT/design/sys/iop/pads/pad_ddr3/rtl/Flist.pad_ddr3
    -flist=$DV_ROOT/design/sys/iop/jbi/rtl/Flist.jbi
    -flist=$DV_ROOT/design/sys/iop/pads/pad_jbusl/rtl/Flist.pad_jbusl
    -flist=$DV_ROOT/design/sys/iop/pads/pad_jbusr/rtl/Flist.pad_jbusr
    -flist=$DV_ROOT/design/sys/iop/pads/pad_jbus_common/rtl/Flist.pad_jbus_common
    -flist=$DV_ROOT/design/sys/iop/pads/pad_common/rtl/Flist.impctl_common
    -flist=$DV_ROOT/design/sys/iop/pads/pad_ddr_common/rtl/Flist.pad_ddr_common
    -flist=$DV_ROOT/design/sys/iop/pads/pad_ddr_common/rtl/Flist.ddr_impctl_common
    -flist=$DV_ROOT/design/sys/iop/pads/pad_common/rtl/Flist.dtl_bscan_common
    -flist=$DV_ROOT/design/sys/iop/pads/pad_common/rtl/Flist.sstl_bscan_common
    -flist=$DV_ROOT/design/sys/iop/pads/pad_common/rtl/Flist.pscan_common 
    -flist=$DV_ROOT/design/sys/iop/pads/pad_jbus_common/rtl/Flist.dtlhstl_common
    -flist=$DV_ROOT/design/sys/iop/pads/pad_misc/rtl/Flist.pad_misc
    -flist=$DV_ROOT/design/sys/iop/common/rtl/Flist.clib_common
    -flist=$DV_ROOT/design/sys/iop/common/rtl/Flist.dlib_common
    -flist=$DV_ROOT/design/sys/iop/common/rtl/Flist.dft_common
    -flist=$DV_ROOT/design/sys/iop/common/rtl/Flist.ucb_common
    -flist=$DV_ROOT/design/sys/iop/common/rtl/Flist.sw_mem_common
    -flist=$DV_ROOT/design/sys/iop/srams/rtl/Flist.srams
    -flist=$DV_ROOT/design/sys/iop/analog/bw_clk/rtl/Flist.bw_clk
    -flist=$DV_ROOT/design/sys/iop/analog/bw_iodll/rtl/Flist.dll_common
    -flist=$DV_ROOT/design/sys/iop/ctu/rtl/Flist.ctu
    -flist=$DV_ROOT/design/sys/iop/pads/pad_ctu/rtl/Flist.pad_ctu
    -flist=$DV_ROOT/design/sys/iop/efc/rtl/Flist.efc
    -flist=$DV_ROOT/design/sys/iop/pads/pad_efc/rtl/Flist.pad_efc
    -flist=$DV_ROOT/verif/env/cmp/cmp.flist
    -flist=$DV_ROOT/verif/env/iss/pli/sjm/rtl/flist.collect.jbus
    -flist=$DV_ROOT/verif/env/iss/pli/jbus_mon/rtl/flist.collect.jbus
    -config_rtl=MODEL_CMP
    -config_rtl=RTL_FLOP_RPTRS
    -config_rtl=RTL_CMP
    -config_rtl=RTL_MEM
    -config_rtl=RTL_JBI_BUF
    -config_rtl=RTL_CCX
    -config_rtl=RTL_DRAM02
    -config_rtl=RTL_DRAM13
    -config_rtl=RTL_FPU
    -config_rtl=RTL_SPARC0
    -config_rtl=RTL_SCBUF0
    -config_rtl=RTL_SCBUF1
    -config_rtl=RTL_SCBUF2
    -config_rtl=RTL_SCBUF3
    -config_rtl=RTL_SCTAG0
    -config_rtl=RTL_SCTAG1
    -config_rtl=RTL_SCTAG2
    -config_rtl=RTL_SCTAG3
    -config_rtl=RTL_SCDATA0
    -config_rtl=RTL_SCDATA1
    -config_rtl=RTL_SCDATA2
    -config_rtl=RTL_SCDATA3
    -config_rtl=RTL_PADS
    -config_rtl=RTL_PAD_DDR0
    -config_rtl=RTL_PAD_DDR1
    -config_rtl=RTL_PAD_DDR2
    -config_rtl=RTL_PAD_DDR3
    -config_rtl=RTL_JBI
    -config_rtl=RTL_PAD_JBUSR
    -config_rtl=RTL_PAD_JBUSL
    -config_rtl=RTL_PAD_JBUS_COMMON
    -config_rtl=RTL_PAD_DBG
    -config_rtl=RTL_PAD_MISC
    -config_rtl=RTL_CTU
    -config_rtl=RTL_PAD_CTU
    -config_rtl=RTL_EFC
    -config_rtl=RTL_PAD_EFC
    -config_rtl=STACK_DIMM
    -config_rtl=RANK_DIMM
    -config_rtl=MICRO_ON
    -config_rtl=INCLUDE_SAS_TASKS
    -env_base=$DV_ROOT/verif/env/cmp
    -rtl_timeout=5000
    -sas_run_args=-DSP0
    -sas_run_args=-DMEM_TEST
    -sas_run_args=-DINTR_TEST
    -sas_run_args=-DMEM_DEBUG
    -sas_run_args=-DNIAGARA
    -sas_run_args=-DMMU_REG_CMP 
    -sas_run_args=-DSFSR_CMP
    -finish_mask=1
    -ncv_build_args=+ncelabargs+-ARR_ACCESS
    -ncv_build_args=-c +access+rwc
    -ncv_build_args=+ncvlogargs+-NOMempack
    -ncv_build_args=+ncnomempack
    -sim_build_args=+define+NO_SJM
    -sim_build_args=+define+SYSTEM_DV_MATCH
    -sim_run_args=+doerrorfinish
    -sim_run_args=+dowarningfinish
    -sim_run_args=+cpu_num=0
    -sim_run_args=+vera_exit_on_error
    -sim_run_args=+hypervisor=1
    -sim_run_args=+STACK_DIMM
    -sim_run_args=+RANK_DIMM
    -sim_run_args=+SYSTEM_DV_MATCH=2
    -sim_run_args=+BW_BFM1
    -sim_run_args=+BW_BFM2
    -sim_run_args=+BW_BFM3
    -sim_run_args=+BW_BFM4
    -sim_run_args=+BW_BFM5
    -sim_run_args=+BW_BFM6
    -sim_run_args=+BW_BFM7
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_build_args=+nbaopt
    -vcs_build_args=-Xstrict=1 -notice
    -vcs_build_args=-e SimvMain $DV_ROOT/verif/env/iss/pli/main.cc
    -vcs_build_args=-P $DV_ROOT/tools/pli/iop/bwioj.tab
    -vcs_build_args=-P $DV_ROOT/tools/pli/socket/bwsocket_pli.tab
    -vcs_build_args=-P $DV_ROOT/tools/pli/mem/bwmem_pli.tab
    -vcs_build_args=-P $DV_ROOT/tools/pli/utility/bwutility_pli.tab
    -vcs_build_args=-P $DV_ROOT/verif/env/iss/pli/monitor/c/monitor.tab
    -vcs_build_args=-P $DV_ROOT/verif/env/iss/pli/sjm/c/jbus.tab
    -vcs_build_args=-P $DV_ROOT/verif/env/iss/pli/jbus_mon/c/jbus_mon.tab
    -vcs_build_args=-lsjm -ljbus_mon -liob -ljpcommon -lsocket_pli -lmonitor -lutility_pli -lmem_pli
    -vcs_use_rad
    -post_process_cmd="regreport -1 > status.log"
    -post_process_cmd="perf > perf.log"
    -asm_diag_root=$DV_ROOT/verif/diag
    -tap_diag_root=$DV_ROOT/verif/diag
    -sjm_diag_root=$DV_ROOT/verif/diag
    -tpt_diag_root=$DV_ROOT/verif/diag
    -efuse_image_root=$DV_ROOT/verif/diag
    -vera_build_args=p=4
    -vera_diag_root=$DV_ROOT/verif/diag
    -vera_config_root=$DV_ROOT/verif/diag
    -image_diag_root=$DV_ROOT/verif/diag
    -efuse_image_name=default.dat
    -midas_args=-mmu=niagara
    -wait_cycle_to_kill=10
</core1>
